html {
  height: 100%;
}
body {
  @extend %manrope-600;
  background-color: $background-color;
  color: $black;
  font-size: $font-size;
  line-height: $line-height;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lock {
  overflow: hidden;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: $white;
  border-radius: 12px;
  padding: 16px 40px;
  transition: $transition;
  @include xl(1200) {
  }
  @include lg(992) {
    padding: 12px 30px;
    font-size: 16px;
  }
  @include sm(576) {
    padding: 8px 20px;
    font-size: 14px;
  }
  &__orange {
    background-color: $primary;
    &:hover {
      background-color: #f54209;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &__black {
    background-color: $black;
    &:hover {
      background-color: rgba(30, 27, 27, 0.9);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.form {
  max-width: 100%;

  &__input {
    display: block;
    width: 100%;
    padding: 23px 40px;
    outline: transparent;
    transition: $transition;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
    &::placeholder {
      opacity: 0.5;
      transition: $transition;
    }
    &:hover::placeholder {
      opacity: 1;
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba(30, 27, 27, 0.5);
    }

    @include md(768) {
      padding: 15px 30px;
    }
    @include sm(576) {
      padding: 10px 20px;
    }
  }

  &__btn {
    margin-top: 25px;
    transition: $transition;
    @include sm(576) {
      margin-top: 15px;
    }
  }
}

.section {
  padding: 128px 0;
  @include xl(1200) {
    padding: 80px 0;
  }
  @include lg(992) {
    padding: 70px 0;
  }
  @include md(768) {
    padding: 50px 0;
  }
  @include sm(576) {
    padding: 45px 0;
  }
}

.first-section {
  padding-top: 170px;
  color: $lightgrey;

  @include xl(1200) {
    padding-top: 100px;
  }
  @include sm(576) {
    padding-top: 74px;
  }

  &__inner {
    display: flex;
    position: relative;

    @include md(768) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 57%;
    height: 100%;
    background-color: $black;
    display: flex;
    overflow: auto;

    @include md(768) {
      position: static;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__content-inner {
    margin: auto;
    max-width: 73%;
    padding: 15px 0;

    @include xl(1200) {
      max-width: 85%;
    }
    @include lg(992) {
      max-width: 90%;
    }
  }

  &__title {
    font-size: 64px;
    margin-bottom: 16px;

    @include xl(1200) {
      font-size: 50px;
    }
    @include md(768) {
      font-size: 40px;
    }
  }

  &__tetx {
    @extend %manrope-500;
    font-size: 18px;
    margin-bottom: 48px;

    @include md(768) {
      margin-bottom: 20px;
    }
  }
}

.title-xl {
  @extend %manrope-800;
  font-size: 58px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  @include xl(1200) {
    font-size: 45px;
  }
  @include md(768) {
    font-size: 33px;
  }
  @include sm(576) {
    font-size: 28px;
  }
}

.title-l {
  @extend %manrope-700;
  font-size: 48px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  @include xl(1200) {
    font-size: 38px;
  }
  @include md(768) {
    font-size: 28px;
  }
  @include sm(576) {
    font-size: 22px;
  }
}

.arrow {
  width: 52px;
  height: 18px;
  margin-left: 21px;
  @include sm(576) {
    width: 35px;
    margin-left: 10px;
  }
}

.item-card {
  @extend %center;
  background-color: $white;
  width: 100%;
  height: 232px;
  transition: $transition;
  display: flex;
  flex-direction: column;
  &:hover {
    background-color: $primary;
    cursor: pointer;
    .item-card__icon {
      fill: $white;
    }
    .item-card__text {
      color: $white;
    }
  }

  &__icon {
    fill: $black;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;

    @include sm(576) {
      margin-bottom: 4px;
    }
  }

  &__icon_car {
    width: 44px;
    height: 32px;

    @include sm(576) {
      width: 30px;
      height: 29px;
    }
  }

  &__icon_engine {
    width: 42px;
    height: 42px;

    @include sm(576) {
      width: 28px;
      height: 28px;
    }
  }

  &__icon_wheel,
  &__icon_service {
    width: 46px;
    height: 46px;

    @include sm(576) {
      width: 32px;
      height: 32px;
    }
  }

  &__icon_oil {
    width: 33px;
    height: 46px;

    @include sm(576) {
      width: 19px;
      height: 32px;
    }
  }

  &__icon_car2 {
    width: 54px;
    height: 38px;

    @include sm(576) {
      width: 40px;
      height: 24px;
    }
  }

  &__icon_batteries {
    width: 44px;
    height: 39px;

    @include sm(576) {
      width: 30px;
      height: 25px;
    }
  }

  &__icon_shield {
    width: 37px;
    height: 46px;

    @include sm(576) {
      width: 23px;
      height: 32px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.03em;

    @include lg(992) {
      font-size: 20px;
    }

    @include sm(576) {
      font-size: 14px;
    }
  }
}

.item-steps {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 16px;

    .item-steps__text {
      border-left: 3px dashed $primary;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__icon {
    @extend %manrope-700;
    @extend %center;
    background-color: $secondary;
    color: $white;
    font-size: 32px;
    line-height: 0.75;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-right: 24px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.24);
      top: 52px;
      left: 15px;

      @include sm(576) {
        width: 28px;
        height: 28px;
        top: 37px;
        left: 11px;
      }
    }
    @include sm(576) {
      width: 50px;
      height: 50px;
      font-size: 24px;
      margin-right: 8px;
    }
  }

  &__title {
    @extend %manrope-700;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    @include lg(992) {
      font-size: 28px;
    }
    @include sm(576) {
      font-size: 22px;
    }
  }

  &__text {
    max-width: 380px;
    font-size: 18px;
    opacity: 0.6;
    margin-left: 36px;
    padding-left: 60px;

    @include lg(992) {
      line-height: 1.5;
      max-width: 100%;
    }
    @include sm(576) {
      font-size: 16px;
      margin-left: 25px;
      padding-left: 30px;
    }
  }
}

.contact-baner {
  display: flex;
  height: 502px;
  max-width: 100%;
  @include xl(1200) {
    height: 400px;
  }
  @include lg(992) {
    height: 350px;
  }
  @include md(768) {
    height: 280px;
  }
  @include sm(576) {
    height: 220px;
  }

  &__left,
  &__right {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  &__left {
    width: 55%;
  }

  &__right {
    width: 45%;
    @include sm(576) {
      width: 0;
    }
  }

  &__body {
    background-color: $primary;
    width: 62%;
    height: 100%;
    margin-left: auto;
    display: flex;
    @include md(768) {
      width: 100%;
    }
    @include sm(576) {
      width: 181%;
    }
  }

  &__text {
    width: 91%;
    margin: auto;
  }

  &__title {
    color: $white;
    margin-bottom: 48px;
    @include xl(1200) {
      margin-bottom: 20px;
      font-size: 35px;
    }
    @include lg(992) {
      font-size: 28px;
    }
    @include sm(576) {
      font-size: 24px;
    }
  }
}

.info {
  background-color: $lightgrey;
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 48px 0;
    @include md(768) {
      padding: 30px 0;
    }
  }

  &__item {
    font-size: 24px;
    line-height: 1.5;
    opacity: 0.7;
    letter-spacing: -0.03em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 25%;
    padding: 10px;
    @include lg(992) {
      width: 50%;
      text-align: center;
    }
    @include md(768) {
      font-size: 20px;
    }
    @include sm(576) {
      font-size: 16px;
    }
  }

  &__number {
    display: block;
    color: $secondary;
    @include sm(576) {
      font-size: 24px;
    }
  }
}

//======================= slider =======================//

.slider {
  position: relative;
  &__item {
    margin: 0 auto;
  }

  &__inner {
    max-width: 616px;
    background-color: $white;
    border: 1px solid rgba(172, 172, 172, 0.29);
    box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    padding: 72px;
    @include xl(1200) {
      padding: 35px;
    }
    @include lg(992) {
      padding: 20px;
      margin: 0 auto;
    }
    @include sm(576) {
      padding: 15px;
    }
  }
  &__top {
    display: flex;
    margin-bottom: 24px;
    @include lg(992) {
      margin-bottom: 12px;
    }
  }

  &__img {
    margin-right: 16px;
  }

  &__top-content {
  }

  &__name {
    display: block;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    @include sm(576) {
      font-size: 20px;
    }
  }

  &__city {
    color: #939191;
  }

  &__text {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    @include lg(992) {
      font-size: 20px;
    }
    @include sm(576) {
      font-size: 16px;
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  @include sm(576) {
    margin-top: 8px;
  }

  li {
    cursor: pointer;

    button {
      padding: 0;
      font-size: 0;
      background-color: #939191;
      width: 32px;
      height: 4px;
      transition: $transition;
      @include sm(576) {
        width: 20px;
      }

      &:hover {
        background-color: rgba(147, 145, 145, 0.7);
      }
    }
  }
  li:not(:last-child) {
    margin-right: 15px;
  }

  li.slick-active button {
    background-color: $primary;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  font-size: 0;
  width: 48px;
  height: 48px;
  background-color: $white;
  border-radius: 50%;
  transition: $transition;
  &:hover {
    background-color: $black;
    transform: scale(1.3);
    .slick-arrow-prev,
    .slick-arrow-next {
      fill: $white;
      width: 26px;
    }
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px rgba(30, 27, 27, 1);
  }
  &:active {
    background-color: rgba(30, 27, 27, 0.8);
  }
}

.slick-prev {
  bottom: -16px;
  right: 86px;
}

.slick-next {
  bottom: -16px;
  right: 8px;
}

.slick-arrow-prev,
.slick-arrow-next {
  width: 20px;
  height: 13px;
  transition: $transition;
}

.slick-arrow-next {
  transform: rotate(180deg);
}

//========================= accordion ============================//

.accordion {
  max-width: 900px;
  margin: 0 auto;
  &__item {
    background-color: $white;
    padding: 40px;

    &:not(:last-child) {
      margin-bottom: 12px;
      @include sm(576) {
        margin-bottom: 8px;
      }
    }

    @include lg(992) {
      padding: 20px;
    }
    @include md(768) {
    }
    @include sm(576) {
      padding: 10px;
    }
  }

  &__item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &.active {
      .accordion__item-trigger::after {
        transform: rotate(0deg);
      }
    }
  }

  &__item-title {
    max-width: 91%;
    font-size: 24px;
    letter-spacing: -0.03em;
    line-height: 1.5;
    transition: $transition;

    &:hover {
      text-decoration: underline;
    }

    @include md(768) {
      font-size: 20px;
    }

    @include sm(576) {
      font-size: 18px;
    }
  }

  &__item-trigger {
    position: relative;
    background-color: $primary;
    width: 48px;
    height: 48px;
    transition: $transition;

    &::before,
    &::after {
      content: "";
      width: 16px;
      height: 2px;
      background-color: $white;
      position: absolute;
      top: 23px;
      left: 16px;
      transition: transform 0.3s ease 0s;

      @include md(768) {
        top: 20px;
        left: 12px;
      }
      @include sm(576) {
        width: 12px;
        height: 1px;
        top: 8px;
        left: 3px;
      }
    }

    &::after {
      transform: rotate(90deg);
    }

    &:hover {
      background-color: #f54209;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @include md(768) {
      width: 40px;
      height: 40px;
    }

    @include sm(576) {
      width: 18px;
      height: 18px;
    }
  }

  &__item-content {
    display: none;
    padding-top: 14px;
    font-size: 18px;
    color: #939191;
    max-width: 85%;

    @include lg(992) {
      max-width: 95%;
    }

    @include sm(576) {
      font-size: 16px;
    }
  }
}

//===========================================================//
