html {
  height: 100%;
}
body {
  @extend %manrope-600;
  background-color: $background-color;
  color: $black;
  font-size: $font-size;
  line-height: $line-height;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lock {
  overflow: hidden;
}

.btn {
  font-size: 18px;
  color: $white;
  border-radius: 12px;
  padding: 16px 40px;
  @include sm(576) {
  padding: 8px 20px;
  font-size: 14px;
  }


}