@import "reset";
@import "fonts";
@import "vars";
@import "libs";
@import "media";
@import "global";
@import "../module/_header/_header";
@import "../module/_main-section/_main-section";
@import "../module/_servise/_service";
@import "../module/_process/_process";
@import "../module/_offer/_offer";
@import "../module/_brands/_brands";
@import "../module/_reviews/_reviews";
@import "../module/_questions/_questions";
@import "../module/_main-services/_main-services";
@import "../module/_diagnostics/_diagnostics";
@import "../module/_services-process/_services-process";
@import "../module/_footer/_footer";







