.service {
  background-color: $steelgrey;
  &__inner {
    display: flex;
    justify-content: space-between;
    @include lg(992) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 45%;
    @include lg(992) {
      max-width: 100%;
      margin-bottom: 40px;
    }
    @include sm(576){
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 48px;
    @include lg(992) {
      margin-bottom: 32px;
    }
    @include sm(576) {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__list {
    max-width: 385px;
    margin-bottom: 32px;
    @include lg(992) {
      max-width: 100%;
      padding: 0 15px;
    }
    @include sm(576) {
      padding: 0 5px;
    }
  }

  &__item {
    position: relative;
    padding-left: 63px;
    margin-bottom: 37px;
    @include lg(992) {
      margin-bottom: 20px;
    }
    @include sm(576) {
      padding-left: 55px;
      margin-bottom: 12px;
    }
  }

  &__icon {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 47px;
    height: 47px;
    background-color: $white;
    padding: 10px;
    border-radius: 50%;
  }

  &__item-title {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    margin-bottom: 7px;
    @include md(768) {
      font-size: 20px;
    }
  }

  &__item-text {
    opacity: 0.6;
    @include sm(576) {
      line-height: 1.4;
    }
  }

  &__content-link {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 63px;
    transition: all 1.5s;
    max-width: 280px;
    &:hover {
      text-decoration: underline;
    }
    @include sm(576) {
      font-size: 14px;
    }
  }

  &__link-icon {
    width: 52px;
    height: 18px;
    margin-left: 21px;
    @include sm(576) {
      width: 35px;
      margin-left: 10px;
    }
  }

  &__calculation {
    max-width: 49%;
    padding-top: 10px;
    @include lg(992) {
      max-width: 100%;
    }
  }

  &__calculation-title {
    margin-bottom: 32px;
    @include sm(576) {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__form {
    padding: 0 15px;
  }
}
