.process {
  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    @include xl(1200) {
      max-width: 100%;
      justify-content: space-around;
    }
    @include lg(992) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 524px;
    @include xl(1200) {
      padding: 0 10px 0 0;
    }
    @include lg(992) {
      max-width: 100%;
      margin-bottom: 40px;
    }
  }

  &__title {
    line-height: 1.3;
    margin-bottom: 16px;
    @include sm(576) {
      text-align: center;
    }
  }

  &__content-text {
    max-width: 437px;
    margin-bottom: 32px;
    opacity: 0.6;
    @include lg(992) {
      max-width: 80%;
      padding-left: 15px;
    }
    @include sm(576) {
      max-width: 100%;
      margin-bottom: 15px;
    }
  }

  &__link {
    margin-left: 15px;
    transition: $transition;
  }

  &__steps {
    max-width: 528px;
    @include lg(992) {
      max-width: 80%;
    }
    @include sm(576) {
      max-width: 100%;
    }
  }

  &__steps-list {
    padding: 0 15px;
    @include sm(576) {
      padding: 0;
    }
  }
}
