.header {
}

.logo {
  z-index: 1;
  transition: $transition;
  &:hover {
    opacity: 0.8;
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px rgba(0, 210, 137, 0.5);
    border-radius: 3px;
  }
  &:active {
    opacity: 0.5;
  }
}
.menu {
  display: flex;
  align-items: center;
  padding: 16px 0;
    @include lg(992) {
      justify-content: space-between;
    }
    @include md(768) {
      padding: 8px 0;
    }

  &__list {
    display: flex;
    margin: 0 32px 0 auto;
    padding: 0 32px 0 0;
    border-right: 1px solid #939191;
    @include lg(992) {
      position: fixed;
      display: block;
      height: 100%;
      width: 90%;
      left: -200%;
      top: 0;
      background-color: $steelgrey;
      overflow: auto;
      transition: left 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      padding: 100px 0 0 0;
      margin-right: 0;

      &.active {
        left: 0;
      }
    }
    @include md(768) {
      width: 85%;
      padding: 80px 0 0 0;
    }
    @include sm(576) {
      width: 75%;

    }
  }
  &__item {
    @include lg(992) {
      text-align: center;
    }
    &:not(:last-child) {
      margin-right: 40px;
      @include lg(992) {
        margin-right: 0;
      }
    }
  }
  &__link {
    transition: $transition;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      box-shadow: 0px 0px 0px 2px rgba(0, 210, 137, 0.5);
      border-radius: 3px;
    }
    &:active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
    }
      @include lg(992) {
        display: block;
        font-size: 20px;
        padding: 6px 0;
        &:focus {
          border-radius: 0;
        }
      
    }
  }
  &__link--active {
    color:  $mint;
  }
  &__phone {
    display: flex;
    align-items: center;
  }
  &__phone-icon {
    width: 40px;
    height: 40px;
    fill: $white;
    background-color: #61c3a1;
    padding: 10px;
    margin-right: 14px;
    border-radius: 50%;
    @include sm(576) {
      margin-right: 0;
    }
  }
  &__phone-list {
    display: flex;
  }
  &__phone-item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__phone-title {
    @extend %manrope-500;
    line-height: 1.5;
    opacity: 0.7;
       @include lg(992) {
      display: none;
    }
  }
  &__phone-link {
    transition: $transition;
    font-size: 18px;
      @include sm(576) {
      display: none;
    }
    &:hover {
      border-bottom: 1px solid $black;
    }
  }
}

.burger {
  display: none;
  @include lg(992) {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    right: 5px;
    border-radius: 10%;
    z-index: 2;
    &:focus {
      box-shadow: 0px 0px 0px 2px #1e1b1b;
    }
    &:active {
      background-color: rgba(255, 122, 80, 0.1);
    }

    &__line {
      position: absolute;
      background-color: #1e1b1b;
      width: 30px;
      height: 2px;
      top: 20px;
      right: 7px;
      transition: transform 0.3s;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: #1e1b1b;
        width: 30px;
        height: 2px;
        right: 0;
        transition: $transition;
      }
      &::before {
        top: 10px;
      }
      &::after {
        bottom: 10px;
      }
    }
    &.active .burger__line {
      background-color: transparent;

    }
    &.active .burger__line::before {
      transform: rotate(-45deg);
      top: 0;
    }

    &.active .burger__line::after {
      transform: rotate(45deg);
      bottom: 0;
    }
  }
}
