.header {
  padding-bottom: 128px;
  @include lg(992) {
    padding-bottom: 90px;
  }
  @include md(768) {
    padding-bottom: 50px;
  }
  @include sm(576) {
    padding-bottom: 45px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 73px;
    @include xl(1200) {
      justify-content: space-around;
      padding-top: 30px;
    }
    @include lg(992) {
      flex-direction: column;
    }
    @include sm(576) {
      padding-top: 15px;
    }
  }

  &__content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    @include lg(992) {
      max-width: 68%;
      margin-bottom: 35px;
    }
    @include md(768) {
      max-width: 84%;
    }
    @include sm(576) {
      max-width: 100%;
      text-align: center;
      margin-bottom: 25px;
    }
  }

  &__bg {
    position: relative;
    z-index: 0;
    @include xl(1200) {
      max-width: 45%;
    }
    @include lg(992) {
      max-width: 100%;
    }
    @include md(768) {
      max-width: 90%;
    }
    @include sm(576) {
      max-width: 100%;
    }
  }

  &__bg-img {
  }

  &__bg-service,
  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    border: 12px solid rgba(225, 225, 225, 0.43);
    box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
    border-radius: 59px;
  }

  &__bg-service {
    content: "";
    position: absolute;
    top: 73px;
    left: -41px;
    font-size: 24px;
    padding: 15px 38px 15px 15px;
    min-width: 282px;
    letter-spacing: -0.03em;
    line-height: 1.5;
    @include xl(1200) {
      top: 33px;
      left: -30px;
      padding: 7px 30px 7px 10px;
    }
    @include sm(576) {
      display: none;
    }
  }

  &__bg-service-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #5cba99;
    color: $white;
    margin-right: 15px;
    padding: 17px 11px;
    & span {
      font-size: 16px;
    }
  }

  &__rating {
    content: "";
    position: absolute;
    bottom: 56px;
    right: -30px;
    min-width: 326px;
    padding: 20px 28px;
    @include xl(1200) {
      right: 0;
      padding: 12px 28px;
    }
    @include sm(576) {
      display: none;
    }
  }

  &__rating-num {
    letter-spacing: -0.03em;
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
  }

  &__rating-text {
    @extend %manrope-500;
    line-height: 1.5;
    opacity: 0.7;
    font-size: 16px;
  }

  &__rating-star {
    display: flex;
  }

  &__rating-icon {
    width: 30px;
    height: 30px;
    fill: #ffb648;
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__title {
    @extend %manrope-800;
    font-size: 64px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
    @include xl(1200) {
      font-size: 50px;
    }
    @include md(768) {
      font-size: 40px;
      margin-bottom: 15px;
    }
    @include sm(576) {
      font-size: 36px;
    }
  }

  &__link {
    margin-bottom: 48px;
    transition: $transition;
    @include md(768) {
      margin-bottom: 20px;
    }
  }

  &__hours {
    display: flex;
    align-items: center;
    @include sm(576) {
      justify-content: center;
    }
  }

  &__hours-icon {
    width: 31px;
    height: 31px;
    fill: $steelgrey;
    margin-right: 13px;
    @include sm(576) {
      display: none;
    }
  }

  &__hours-body {
    & p {
      font-size: 18px;
      @include sm(576) {
        font-size: 16px;
      }
    }
  }
  &__hours-title {
    @extend %manrope-500;
    color: #939191;
    line-height: 1.5;
  }
}

.logo {
  z-index: 5;
  transition: $transition;
  &:hover {
    opacity: 0.8;
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px rgba(0, 210, 137, 0.5);
    border-radius: 3px;
  }
  &:active {
    opacity: 0.5;
  }
}

.menu {
  display: flex;
  align-items: center;
  padding: 16px 0;
  @include lg(992) {
    justify-content: space-between;
  }
  @include md(768) {
    padding: 8px 0;
  }

  &__list {
    display: flex;
    margin: 0 32px 0 auto;
    padding: 0 32px 0 0;
    border-right: 1px solid #939191;
    @include lg(992) {
      position: fixed;
      display: block;
      height: 100%;
      width: 100%;
      left: -200%;
      top: 0;
      background-color: $steelgrey;
      overflow: auto;
      transition: left 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      padding: 100px 0 0 0;
      margin-right: 0;
      z-index: 1;

      &.active {
        left: 0;
      }
    }
  }
  &__item {
    @include lg(992) {
      text-align: center;
    }
    &:not(:last-child) {
      margin-right: 40px;
      @include lg(992) {
        margin-right: 0;
      }
    }
  }
  &__link {
    color: $black;
    transition: $transition;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      box-shadow: 0px 0px 0px 2px rgba(0, 210, 137, 0.5);
      border-radius: 3px;
    }
    &:active {
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
    }
    @include lg(992) {
      display: block;
      font-size: 30px;
      padding: 6px 0;
      &:focus {
        border-radius: 0;
      }
    }
    @include sm(576) {
      font-size: 20px;
    }
  }
  &__link--active {
    color: $mint;
  }
  &__phone {
    display: flex;
    align-items: center;
  }
  &__phone-icon {
    width: 40px;
    height: 40px;
    fill: $white;
    background-color: #61c3a1;
    padding: 10px;
    margin-right: 14px;
    border-radius: 50%;
    @include sm(576) {
      margin-right: 0;
    }
  }
  &__phone-list {
    display: flex;
  }
  &__phone-item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__phone-title {
    @extend %manrope-500;
    line-height: 1.5;
    opacity: 0.7;
    @include lg(992) {
      display: none;
    }
  }
  &__phone-link {
    transition: $transition;
    font-size: 18px;
    @include sm(576) {
      display: none;
    }
    &:hover {
      border-bottom: 1px solid $black;
    }
  }
}

.burger {
  display: none;
  @include lg(992) {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    right: 5px;
    border-radius: 10%;
    z-index: 2;
    &:focus {
      box-shadow: 0px 0px 0px 2px #1e1b1b;
    }
    &:active {
      background-color: rgba(255, 122, 80, 0.1);
    }

    &__line {
      position: absolute;
      background-color: #1e1b1b;
      width: 30px;
      height: 2px;
      top: 20px;
      right: 7px;
      transition: transform 0.3s;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: #1e1b1b;
        width: 30px;
        height: 2px;
        right: 0;
        transition: $transition;
      }
      &::before {
        top: 10px;
      }
      &::after {
        bottom: 10px;
      }
    }
    &.active .burger__line {
      background-color: transparent;
    }
    &.active .burger__line::before {
      transform: rotate(-45deg);
      top: 0;
    }

    &.active .burger__line::after {
      transform: rotate(45deg);
      bottom: 0;
    }
  }
}
