.main-services {
  padding-top: 170px;
  color: $lightgrey;

  @include xl(1200) {
    padding-top: 100px;
  }
  @include sm(576) {
    padding-top: 74px;
  }

  &__inner {
    display: flex;
    position: relative;

    @include md(768) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 57%;
    height: 100%;
    background-color: $black;
    display: flex;
    overflow: auto;

    @include md(768) {
      position: static;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__content-inner {
    margin: auto;
    max-width: 73%;
    padding: 15px 0;

    @include xl(1200) {
      max-width: 85%;
    }
    @include lg(992) {
      max-width: 90%;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__tetx {
    @extend %manrope-500;
    font-size: 18px;
    margin-bottom: 48px;

    @include md(768) {
      margin-bottom: 20px;
    }
  }
}
