.reviews {
  background-color: $lightgrey;
  &__title {
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 94px;
    @include xl(1200) {
      margin-bottom: 48px;
    }
    @include lg(992) {
      margin-bottom: 32px;
    }
    @include sm(576) {
      margin-bottom: 20px;
      max-width: 90%;
    }
  }
}


