.articles1 {
  background-color: #f5f5f5;
  &__inner {
    display: flex;
    align-items: center;

    @include xl(1200) {
    }
    @include lg(992) {
      flex-direction: column;
    }
    @include md(768) {
    }
    @include sm(576) {
    }
  }
  &__column-left {
    max-width: 42%;
    background-color: $white;
    padding: 32px;

    @include xl(1200) {
    }
    @include lg(992) {
      max-width: 100%;
      margin-bottom: 40px;
    }
    @include md(768) {
    }
    @include sm(576) {
      margin-bottom: 30px;
      padding: 10px;
    }
  }

  &__column-right {
    padding-left: 32px;

    @include xl(1200) {
    }
    @include lg(992) {
      padding-left: 15px;
    }
    @include md(768) {
    }
    @include sm(576) {
      padding-left: 0;
    }
  }

  &__list {
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__item-link {
  }
}

.big-article {
  &__img {
    margin-bottom: 32px;

    @include xl(1200) {
    }
    @include lg(992) {
      margin: 0 auto 32px;
    }
    @include md(768) {
    }
    @include sm(576) {
      margin-bottom: 20px;
    }
  }
  &__date {
    color: #939191;
    opacity: 0.8;
    margin-bottom: 16px;

    @include sm(576) {
      font-size: 14px;
    }
  }
  &__title {
    font-size: 40px;
    margin-bottom: 16px;

    @include xl(1200) {
      font-size: 35px;
    }
    @include lg(992) {
    }
    @include md(768) {
    }
    @include sm(576) {
      font-size: 24px;
      margin-bottom: 8px;
    }
  }
  &__text {
    color: #232536;
    opacity: 0.6;
    margin-bottom: 32px;

    @include sm(576) {
      margin-bottom: 20px;
      margin-bottom: 8px;
    }
  }
  &__link {
    @extend %hover-link;
    transition: $transition;
    display: flex;
    align-items: center;

    @include sm(576) {
      font-size: 14px;
      padding: 10px 0;
    }
  }
}

.small-article {
  display: flex;
  align-items: center;

  &:hover {
    .small-article__title {
      text-decoration: underline;
    }
  }

  @include sm(576) {
    align-items: flex-start;
  }

  &__img {
    margin-right: 24px;

    @include sm(576) {
      max-width: 100px;
      max-height: 100px;
      margin-right: 10px;
    }
  }
  &__content {
  }

  &__title {
    font-size: 32px;
    line-height: 1.5;
    transition: $transition;

    @include xl(1200) {
      font-size: 28px;
    }
    @include lg(992) {
    }
    @include md(768) {
    }
    @include sm(576) {
      font-size: 18px;
    }
  }
  &__date {
    @include sm(576) {
      font-size: 14px;
    }
  }
}
